<div class="card border border-black">
    <div class="card-body">
        <h1>About</h1>
        <hr class="my-2">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa magnam perspiciatis, cumque nesciunt minus officia, dolore ullam facilis quam consequuntur corporis consectetur asperiores nobis explicabo laboriosam consequatur pariatur doloribus sint. Sapiente architecto quod omnis accusamus reprehenderit deleniti labore quo consequuntur.</p>
        
    
    </div>
</div>