<div class="rounded-3 text-bg-light p-5 border border-black">
    <h1 class="display-4">Notes APP Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, animi quam quas obcaecati nostrum suscipit adipisci quisquam perferendis incidunt voluptatem hic. Maiores, aliquid labore accusamus error ratione suscipit sit dolor!</p>
    <a href="http://ssss.com" class="btn btn-primary btn-lg border border-black">web</a>
</div>
